<ion-view class="back-cadastro"> 
  <div class="box-all">  	
  	<h3>cadastre-se</h3>  

  	<div class="field">
     	<input type="text" placeholder="Nome completo">
   	</div>

  	<div class="field">
     	<input type="text" placeholder="E-mail">
   	</div>

   	<div class="field">
     	<input type="text" placeholder="CPF">
   	</div>

    <div class="field">
      <input type="text" placeholder="Telefone">
    </div>


   	<div class="field">
     	<input type="text" placeholder="Senha">	
   	</div>

   	<div class="field">
     	<input type="text" placeholder="Confirme a senha">	
   	</div>

   	<button class="btn-primary">CRIAR CONTA</button>



  </div>
 
 </ion-view>