<ion-view class="back-black"> 

  <ion-content class="has-header">

  <img class="find-cop-img" src="img/cops.jpg">

  <button class="btn-center btn-primary">SOLICITAR</button>

  <p class="info">Isso é sério! Utilize o serviço somente se estiver precisando de uma ajuda real do policial mais próximo.</p>

  </ion-content>

 </ion-view>