<ion-view class="back-black"> 

  <ion-content class="has-header">

  <div class="box-normal">
    <textarea placeholder="Descreva a situação."></textarea>
  	<button class="btn-center btn-primary">ENVIAR</button>
  </div>

  <p class="info-just">Escreva uma mensagem descrevendo a sua situação, isso irá ajudar bastante. Para melhorar a qualidade de nossos serviços seus dados pessoais seram enviados junto a solicitação. </p>

  </ion-content>

 </ion-view>