<ion-view class="back-black"> 

  <ion-content class="has-header">

  <br>
  <i class="icon ion-thumbsup big-icon"></i>

  <p class="info-just">Sua solicitação foi enviada com sucesso. Em alguns minutos algum policial ou atendente irá entrar em contato com você. Caso não possa esperar ligue para <strong>190</strong>.</p>

  </ion-content>

 </ion-view>