<ion-view class="back-black"> 

  <ion-content class="has-header">

  <br>
  <i class="icon ion-thumbsdown big-icon"></i>

  <p class="info-just">Desculpe, aconteceu um emprevisto. Verifique sua conexão com a internet e tente novamente, ou ligue para <strong>190</strong>.</p>

  </ion-content>

 </ion-view>